.deps/
Makefile
config.h
config.log
config.status
js/Makefile
js/config.cache
js/config.log
js/config.status
js/config/Makefile
js/config/autoconf.mk
js/config/mkdepend/Makefile
js/config/myconfig.mk
js/config/myrules.mk
js/editline/Makefile
js/js-confdefs.h
js/js-config
js/js-config.h
js/shell/Makefile
js/unallmakefiles
make-bin-dist.sh
make-dist.sh
stamp-h1
tests/.deps/
tests/Makefile

*.o

generate-resources
js/config/nfspwd
js/config/nsinstall
js/dist/
js/editline/libeditline.a
js/host_jskwgen
js/host_jsoplengen
js/js
js/jsautocfg.h
js/jsautokw.h
js/jsautooplen.h
js/jscpucfg
js/libjs_static.a
js/shell/js
jscoverage
jscoverage-server
resources.c
